body {
    background-image: url(/img/3e6fcf5a8cd4c1ae7dbdb643ff6855ae.jpg);
    font-family: Arial, sans-serif;
    padding-top: 50px;
}

h1, h2, h3 {
    color: #1a1919;
}

.container {
    background-color: #fffefe;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.section-title {
    margin-bottom: 40px;
}

.skill-list li {
    list-style-type: none;
}

.contact-info li {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer {
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer p {
    margin: 0;
}

.animated {
    animation-fill-mode: both;
}

.fadeInUp {
    animation-duration: 1s;
    animation-delay: 0.3s;
}

.fadeInLeft {
    animation-duration: 1s;
    animation-delay: 0.3s;
}

.fadeInRight {
    animation-duration: 1s;
    animation-delay: 0.3s;
}
#piePagina{
  color: black;
}
.contact-info li {
    list-style-type: none;
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
}

.contact-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    margin-top: 4px;
}

a{
    color: rgb(20, 41, 20);
}

#dropdownMenuButton{
    background-color: #8aba81;
    border-color: #8aba81;
    border-radius: 1px;
    opacity: 80%;
}